{#
TODO: 
#}
{% extends "base.html" %}

{% block title %}Регистрация - InnoMart{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/auth.css") }}">
{% endblock %}

{% block content %}
    <section class="auth-section">
        <div class="auth__wrapper">
            <h2 class="auth__title">Создание аккаунта</h2>
            <form action="{{ url_for('auth.register') }}" method="post" class="auth__form">
                {{ form.hidden_tag() }}

                <div class="auth__form-group">
                    <label for="register-email" class="auth__label">Email:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <ul class="error-messages">
                            {% for error in form.email.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="auth__form-group">
                    <label for="register-username" class="auth__label">Имя пользователя:</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <ul class="error-messages">
                            {% for error in form.username.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="auth__form-group">
                    <label for="register-password" class="auth__label">Пароль:</label>
                    <div class="password-wrapper">
                        {{ form.password }}
                        <button type="button" class="toggle-password" aria-label="Показать/Скрыть пароль">
                            <span class="material-icons">visibility_off</span>
                        </button>
                    </div>
                    {% if form.password.errors %}
                        <ul class="error-messages">
                            {% for error in form.password.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="auth__form-group">
                    <label for="register-confirm-password" class="auth__label">Подтверждение пароля:</label>
                    <div class="password-wrapper">
                        {{ form.confirm_password }}
                        <button type="button" class="toggle-password" aria-label="Показать/Скрыть пароль">
                            <span class="material-icons">visibility_off</span>
                        </button>
                    </div>
                    {% if form.confirm_password.errors %}
                        <ul class="error-messages">
                            {% for error in form.confirm_password.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                {{ form.submit(class="auth__submit") }}
            </form>
            <p class="auth__switch">
                Есть аккаунт? <a href="{{ url_for("auth.login") }}" class="auth__link">Войдите!</a>
            </p>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for("static", filename="js/auth.js") }}"></script>
{% endblock %}
